@import "tailwindcss";

:root {
  background-color: rgb(180, 215, 245);
}

.main-container {
  background-color: aliceblue;
  filter: drop-shadow(3px 3px 0 black);
}

button {
  transition:
    transform 0.1s ease-in-out,
    filter 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
  filter: drop-shadow(2px 2px 0 black);
}

button:disabled {
  transform: none;
  filter: none;
}

@theme {
  --animate-fade-in: fadeIn 0.5s;
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    50% {
      opacity: 1;
      transform: translateY(5px);
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
}
